/*  your css code here. If applicable */
:root {
  background-color: rgb(135, 206, 235);
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: var(--background-color);
  padding: 20px;
}

article p:first-child {
  color: white;
  background-color: black;
  padding: 10px;
}

article p:nth-child(2) {
  color: black;
  padding: 10px;
}

article p:last-child {
  color: red;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: gray;
  width: 50%;
  padding: 10px;
}

li:nth-child(odd) {
  background-color: white;
}

li:first-child,
li:last-child {
  font-size: 22px;
}

li:nth-last-child(3) {
  background-color: pink;
}

